In [82]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [83]:
data=pd.read_csv('main1.csv')

In [84]:
data

,Gender,Qualification,Passout,Origin,Experience,Company_type,Status
0,Male,Bachelor Degree,2007,Urban,9,Private limited company,Employed
1,Male,Diploma,2010,Urban,9,Private limited company,Employed
2,Male,Diploma,2014,Urban,5,Private limited company,Employed
3,Male,PUC,2014,Remote,1,Private limited company,Employed
4,Male,Bachelor Degree,2017,Urban,3,Private limited company,Employed
...,...,...,...,...,...,...,...
496,Female,PG,2020,Rural,1,Not yet working,Unemployed
497,Female,PG,2020,Semi urban,1,Not yet working,Unemployed
498,Female,Diploma,2021,Semi urban,1,Not yet working,Unemployed
499,Female,Diploma,2021,Semi urban,1,Private limited company,Unemployed
500,Female,Phd,2021,Semi urban,1,International company,Unemployed

In [85]:
data1=data.copy()

In [86]:
data1

,Gender,Qualification,Passout,Origin,Experience,Company_type,Status
0,Male,Bachelor Degree,2007,Urban,9,Private limited company,Employed
1,Male,Diploma,2010,Urban,9,Private limited company,Employed
2,Male,Diploma,2014,Urban,5,Private limited company,Employed
3,Male,PUC,2014,Remote,1,Private limited company,Employed
4,Male,Bachelor Degree,2017,Urban,3,Private limited company,Employed
...,...,...,...,...,...,...,...
496,Female,PG,2020,Rural,1,Not yet working,Unemployed
497,Female,PG,2020,Semi urban,1,Not yet working,Unemployed
498,Female,Diploma,2021,Semi urban,1,Not yet working,Unemployed
499,Female,Diploma,2021,Semi urban,1,Private limited company,Unemployed
500,Female,Phd,2021,Semi urban,1,International company,Unemployed

In [87]:
x=data1.drop('Status',axis=1)

In [88]:
x

,Gender,Qualification,Passout,Origin,Experience,Company_type
0,Male,Bachelor Degree,2007,Urban,9,Private limited company
1,Male,Diploma,2010,Urban,9,Private limited company
2,Male,Diploma,2014,Urban,5,Private limited company
3,Male,PUC,2014,Remote,1,Private limited company
4,Male,Bachelor Degree,2017,Urban,3,Private limited company
...,...,...,...,...,...,...
496,Female,PG,2020,Rural,1,Not yet working
497,Female,PG,2020,Semi urban,1,Not yet working
498,Female,Diploma,2021,Semi urban,1,Not yet working
499,Female,Diploma,2021,Semi urban,1,Private limited company
500,Female,Phd,2021,Semi urban,1,International company

In [89]:
y=data1['Status']

In [90]:
y

0        Employed
1        Employed
2        Employed
3        Employed
4        Employed
          ...
496    Unemployed
497    Unemployed
498    Unemployed
499    Unemployed
500    Unemployed
Name: Status, Length: 501, dtype: object

In [91]:
x.isnull().sum()

Gender           0
Qualification    0
Passout          0
Origin           0
Experience       0
Company_type     0
dtype: int64

In [92]:
y.isnull().sum()

0

In [93]:
x['Company_type'].unique()

array(['Private limited company', 'Corporative', 'Partnership',
       'International company', 'Not yet working',
       'Nonprofit Organization', 'Private institution'], dtype=object)

In [94]:
x['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [95]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [96]:
x['Gender'] = le.fit_transform(x['Gender'])

In [97]:
x['Qualification']=le.fit_transform(x['Qualification'])
x['Origin']=le.fit_transform(x['Origin'])      
x['Company_type']=le.fit_transform(x['Company_type'])

In [98]:
x['Company_type'].unique()

array([6, 0, 4, 1, 3, 2, 5])

In [99]:
y.unique()

array(['Employed', 'Unemployed'], dtype=object)

In [100]:
y=y.map({'Employed':1,'Unemployed':0})

In [101]:
y

0      1
1      1
2      1
3      1
4      1
      ..
496    0
497    0
498    0
499    0
500    0
Name: Status, Length: 501, dtype: int64

In [102]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [103]:
from sklearn.linear_model import LogisticRegression
l_regressor = LogisticRegression()
l_regressor.fit(x_train, y_train)

LogisticRegression()

In [104]:
y_pred = l_regressor.predict(x_test)

In [105]:
y_pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [106]:
y

0      1
1      1
2      1
3      1
4      1
      ..
496    0
497    0
498    0
499    0
500    0
Name: Status, Length: 501, dtype: int64

In [107]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8316831683168316

In [108]:
x

     Gender  Qualification  Passout  Origin  Experience  Company_type
0         1              1     2007       3           9             6
1         1              2     2010       3           9             6
2         1              2     2014       3           5             6
3         1              4     2014       0           1             6
4         1              1     2017       3           3             6
..      ...            ...      ...     ...         ...           ...
496       0              3     2020       1           1             3
497       0              3     2020       2           1             3
498       0              2     2021       2           1             3
499       0              2     2021       2           1             6
500       0              5     2021       2           1             1

[501 rows x 6 columns]

In [120]:
new_data=pd.DataFrame({
    'Gender':0,
    'Qualification':1,
    'Passout':2007,
    'Origin':3,
    'Experience':9,
    'Company_type':1,
},index=[0])

In [121]:
lr=LogisticRegression()
lr.fit(x,y)

LogisticRegression()

In [122]:
p=lr.predict(new_data)

if p==1:
    print('Employed')
else :
    print('Unemployed')

Employed